body{
    background-color: antiquewhite;
    margin: 0px;
}

#head{
    background: url(https://cdn.pixabay.com/photo/2021/10/30/17/54/desert-6755127_1280.jpg)center;
    background-size: cover;
    margin-bottom: 50px;
}

.isi{
    color: aliceblue;
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;

}

.link{
    font-size: 300%;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    display: block;
    width: 500px;
    height: 100px;
    margin: auto;
    padding-top: 25px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.link:hover{
    transform: translate(30px);
}

.link::before{
    content: "";
    position: absolute;
    display: block;
    
}

#zoo{
    background-image: url(https://cdn.pixabay.com/photo/2020/05/17/17/44/monkey-5182808_1280.jpg);
    background-size: cover;
}

#tables{
    background-image: url(https://cdn.pixabay.com/photo/2015/09/01/09/33/school-916678_1280.jpg);
    background-size: cover;
}
