body{
    background-color: blanchedalmond;
}

table, th, td{
	border: solid 1px black;
    border-collapse: collapse;
}

h3{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.content{
    background-color: cadetblue;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    width: max-content;
    height: auto;
    width: 100%;
    max-width: 900px;
}

#tabel1{
    width: 100%;
    text-align: center;
    height: 100px;
}

#tabel1 th{
    background-color: rgb(97, 97, 250);
}

#tabel2{
    width: 100%;
    height: 100px;
}

.formulir{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

h3{
    text-align: center;
}

#nama, #email, #hape{
    display: block;
    width: 100%;
    height: 30px;   
}

#pilihan{
    display: block;
    margin: 0;
    width: 100%;
    height: 35px;
}

#teksarea{
    width: 100%;
}

.nama, .email, .hape, .pilihan{
    margin-top: 20px;
}

#tombol{
    width: 100%;
    height: 30px;
    margin: 0;
}